node_modules
dist
.angular
coverage
.git
.gitignore
.vscode
.idea
*.log
.env
.env.*
!.env.example
!.env.template
npm-debug.log
.cache
.parcel-cache
tmp
out-tsc
bazel-out
.sass-cache
connect.lock
libpeerconnection.log
testem.log
__screenshots__
.DS_Store
Thumbs.db
